.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftOptions button,
.rightOptions button {
    background: none;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.leftOptions button.activeOption,
.rightOptions .settingsButton.activeButton {
    background-color: #555;
}

.rightOptions .signOutButton {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
}

.rightOptions .settingsButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rightOptions .settingsButton.activeButton {
    background-color: #555;
}
/*Estilos para los div de los graficos*/
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mainContent {
    display: flex;
    margin-bottom: 20px;
}

/* Estilo común para los divs dentro de mainContent */
.mainContent > div {
    flex: 1; /* Asegura que todos los divs tengan el mismo ancho */
    margin-right: 20px; /* Espacio entre los divs */
    border: 1px solid #ddd; /* Borde para separar los divs */
    padding: 15px; /* Espacio interno para el contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de profundidad */
}

.mainContent > div:last-child {
    margin-right: 0; /* El último div no tendrá margen derecho */
}

/* Reducir el tamaño del formulario de Today Work */
.formSection {
    width: 100%; /* Ajustado para ocupar el ancho completo disponible */
    padding-right: 20px;
}

.chartSection {
    width: 100%; /* Ajustado para ocupar el ancho completo disponible */
    position: relative; /* Posicionar el contenedor del temporizador de manera relativa */
}

/* Añade un nuevo estilo para el div del temporizador */
.timer {
    font-size: 20px; /* Tamaño de fuente del temporizador */
    font-weight: bold; /* Texto en negrita */
    color: #3498db; /* Color del texto del temporizador */
    background-color: #f4f4f4; /* Fondo del temporizador */
    padding: 10px 15px; /* Espacio interno para el temporizador */
    border-radius: 8px; /* Bordes redondeados */
    border: 2px solid #ccc; /* Borde del temporizador */
    text-align: center; /* Centra el texto del temporizador */
    margin-top: 20px; /* Espacio superior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de profundidad */
}

/*Estilos para la table*/

.tableSection {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para el formulario de cambio de contraseña */
.changePasswordForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Limita el ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.changePasswordForm div {
    display: flex;
    flex-direction: column;
}

.changePasswordForm label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Asegura que el texto del label sea legible */
    margin-top: 10px;
}

.changePasswordForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*width: 100%;*/
}

.changePasswordForm input[type="password"] {
    font-size: 16px;
}

.submitButton_reset {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacio superior para separar el botón del contenido anterior */
    margin-right: 5px;
}

.submitButton_reset:hover{
    background-color: #2980b9;
}

.changePasswordForm .formMessage {
    color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacio superior para separar el botón del contenido anterior */
    margin-right: 5px;
}

.cancelButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacio superior para separar el botón del contenido anterior */
    margin-right: 5px;
}

.cancelButton:hover {
    background-color: #c0392b;
}

/*Estilos para la seccion de manejo de arreglos de tiempos y la tabla*/

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 20px;
    background-color: #f2f7fa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* Contenedor de la tabla */
.tableContainer {
    flex: 1;
    transition: width 0.3s;
}

.shrinkTable {
    flex: 0.7;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
}

.table th {
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f6f9fc;
}

/* Contenedor del formulario de búsqueda */
.container_searchForm{
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff; /* Color de fondo blanco */
    border: 1px solid #e1e1e1; /* Borde gris claro */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espacio debajo del contenedor */ 
}
.searchForm {
    display: flex;
    align-items: center;
}

.searchForm label {
    margin-right: 10px;
}

.searchForm .searchInput {
    margin-right: 15px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s;
    flex: 1;
    width: 20rem;
}

.searchForm .searchInput:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Botón de búsqueda con un nuevo color azul suave */
.searchButton {
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007BFF; /* Azul suave */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.searchButton:hover {
    background-color: #0056b3; /* Azul más oscuro */
    transform: translateY(-2px);
}

/* Estilo del contenedor de formulario de edición */
.editFormContainer {
    flex: 0.3;
    padding: 20px;
    border-left: 1px solid #eaeaea;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.editFormContainer input {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s;
}

.editList {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s;
}

.editFormContainer input:focus,
.editFormContainer select:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Botón de búsqueda con un nuevo color azul suave */
.editButton {
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #17a2b8; /* Azul suave */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Botón de búsqueda con un nuevo color azul suave */
.cancel_Edit_Button {
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #c0392b; /* Azul suave */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Botones dentro de la tabla */
.tableContainer button {
    padding: 8px 12px;
    font-size: 0.9rem;
    background-color: #FF9800; /* Naranja suave */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.tableContainer button:hover {
    background-color: #F57C00; /* Naranja más oscuro */
    transform: translateY(-1px);
}
